<div class="container py-5">
  <h1 class="mb-4 display-4">Article Search</h1>

  <div class="mb-3">
    <input type="text" id="search-box" class="form-control form-control-lg" placeholder="Type to search articles..." autocomplete="off">
  </div>

  <ul id="article-list" class="list-group mb-4">
    <% @articles.each do |article| %>
      <li class="list-group-item">
        <strong class="h5"><%= article.title %></strong>
        <p class="mb-1"><%= article.content %></p>
      </li>
    <% end %>
  </ul>

  <a href="/analytics" class="btn btn-primary">See My Search Analytics</a>
</div>
